body {
  font-size: .875rem;
}

/* .feather {
  width: 16px;
  height: 16px;
} */

.global-search::placeholder {
  color: #fff;
}

.global-search:focus::placeholder {
  color: var(--bs-body-color);
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

/* .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
} */

.sidebar .nav-link.active {
  color: #2470dc;
}

/* .sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
} */

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Custom Layout
 */

.dt-custom-paging {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}

.dt-custom-paging > * {
  margin: 0 !important;
  padding: 0 !important;
}

.dt-custom-paging label {
  display: flex;
  align-items: center;
  margin: 0;
}

.dt-custom-paging select {
  margin: 0 5px;
}

.dt-custom-search {
  float: left;
}

.dt-custom-search input[type="search"] {
  margin-left: 0 !important;
}

.dt-custom-buttons {
  float: right;
}

/*
 * Simple Layout
 */

#DataTable_Simple_wrapper .page-item {
  margin: 0 5px;
}

#DataTable_Simple_wrapper .page-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0px;
  border-radius: 50%;
  color: lightslategray;
  height: 40px;
  width: 40px;
  padding: 0px;
}

#DataTable_Simple_wrapper .active > .page-link {
  color: var(--bs-pagination-active-color);
}

#DataTable_Simple_wrapper .disabled {
  cursor: not-allowed;
}

/* #DataTable_Simple_wrapper .disabled > .page-link {
  background-color: unset;
} */

#DataTable_Simple_wrapper .pagination {
  justify-content: center;
}

#DataTable_Simple tr:last-child td {
  border-bottom-width: 0px;
}

#DataTable_Simple td {
  vertical-align: middle;
}

#DataTable_Simple.dataTable > tbody > tr.selected > * {
  box-shadow: inherit;
  color: inherit;
}